#display{
width: 300px;
    font-size:48px;
height: 100px;
margin-left: 600px;
margin-top: 200px;
}
#Increase{
margin-left: 850px;
font-size: 24px;
margin-top: -100px;
width: 200px;
height: 100px;
}
#Decrease{
margin-left: 450px;
font-size: 24px;
margin-top: 100px;
margin-bottom: -150px;
width: 200px;
height: 100px;
}

#Reset{
font-size: 24px;
margin-top: -150px;
width: 200px;
height: 100px;
margin-left: 650px;


}